#current-time {
    color: white;
}

#container {
    width: 100%;
    height: calc(100vh - 3.5rem);
    background-image: url('https://images.unsplash.com/photo-1625558298116-38f0173a522c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#countdown {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.5rem 4rem;
    border-radius: 0.5rem;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#countdown > h1 {
    font-size: 8rem;
}

#time-left {
    font-size: 3rem;
}

#mute {
    display: none;
}

.error {
    display: none;
}

.end {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.end #end-break {
    display: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.1rem 1rem;
    text-align: center;
}
